<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @marca.marca_descrip %>
</p>

<p>
  <strong>Activo:</strong>
  <% if @marca.marca_active == true %>
  	Activo
  <% else %>
  	Inactivo
  <% end %>

</p>

<%= link_to 'Editar', edit_marca_path(@marca) %> |
<%= link_to 'Atras', marcas_path %>
