<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @category.category_descrip %>
</p>

<p>
  <strong>Acrivo:</strong>
  <% if @category.category_active == true %>
  	Activo
  <% else %>
  	Inactivo
  <% end %>

</p>

<%= link_to 'Editar', edit_category_path(@category) %> |
<%= link_to 'Atras', categories_path %>
